main ul {
  margin-bottom: 16px;
  padding-left: 2em;
}

main ul li {
  list-style: none;
  border: 2px solid #3c586f;
  padding: 8px 4px;
  margin-bottom: 20px;
  border-radius: 10px;
}

main ul li a {
  color: #3c586f;
  font-size: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 8px;
}

main ul li a h4 {
  margin-bottom: 0;
}
