.history ul {
  margin-bottom: 16px;
  padding-left: 2em;
}

html body header h1,
html body header h3 {
  margin-top: 0;
  color: #3c586f;
}

html body section.history {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
}

html body section.history h3,
html body section.history h4 {
  margin-top: 0;
}

html body .history h3 {
  text-decoration: underline 3px solid #3c586f;
  text-underline-offset: 5px;
}

html body .history a {
  color: #000 !important;
}

html body header .contact a {
  color: white;
}

html body header section h3 {
  text-decoration: underline 3px solid #fff;
  text-underline-offset: 5px;
}
