html body > ul {
  margin-bottom: 16px;
}

html body ul {
  padding-left: 2em;
}
html body li {
  margin-bottom: 0;
}

* {
  margin: 0 !important;
}

html,
body {
  height: 100%;
}

html body {
  font-size: 12px;
}

.details h2 {
  text-decoration: underline;
  margin-bottom: 4px !important;
  margin-top: 12px !important;
}

.details h4 {
  margin-bottom: 4px !important;
}

.details h4 i {
  font-weight: 400;
}

.details ul {
  margin-bottom: 8px !important;
}
